/* Generics */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Teko', sans-serif; 
  }
  
  html,
  body,
  main {
    height: 100vh;
  }

  /* Nav */

#main-menu {
    position: fixed;
    z-index: 2;
    right: 10px;
    top: 40px;
    display: inline-block;
    transform: translateY(-50%);
  }
  
  #main-menu li a:hover {
    transform: scale(1.2);
  }

  #main-menu li:hover {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  }

  #main-menu li{
      display: inline-block;
      background-color: white;
      height: 35px;
      width: 35px;
      line-height: 35px;
      position: relative;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 10px;
  }

  #main-menu li a{
      position: absolute;
      top:0;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      vertical-align: middle;
      text-decoration: none;
      font-size: 16px;
      color: black;
  }

  
  /* Utilities */
  
  .full-page {
    height: 100vh;
  }
  
  /* SNEAKERS */

  #sneakers, #tommy-h, #converse{
      position: relative;
  }

  #sneakers img, #tommy-h img, #converse img {
      width: auto;
      height: 45vh;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }

  .title-img{
     position: absolute;
     top: 75%;
     left: 50%;
     transform: translate(-50%, -75%);
     font-size: 7vh;
     letter-spacing: 5px;
     text-align: center;
     margin-top: 35px;
  }

  #sneakers {
    background-color: #FF0000;
    color: yellow;
  }