/* Generics */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Teko', sans-serif; 
  }
  
  html,
  body,
  main {
    height: 100vh;
  }

  /* Nav */

  /* nav{
      position: relative;
  }

ul{
    position: absolute;
    right: 0;
} */

  li{
      display: inline-block;
      background-color: black;
      height: 30px;
      width: 30px;
      line-height: 30px;
      position: relative;
      border-radius: 50%;
  }

  a{
      position: absolute;
      top:0;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      vertical-align: middle;
  }

  
  /* Utilities */
  
  .full-page {
    height: 100vh;
  }
  
  /* SNEAKERS */

  #sneakers{
      position: relative;
  }

  #sneakers img{
      width: auto;
      height: 200px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }

  .title-img{
     position: absolute;
     top: 75%;
     left: 50%;
     transform: translate(-50%, -75%);
     font-size: 35px;
     letter-spacing: 5px;
     text-align: center;
     margin-top: 30px;
  }

  #sneakers {
    background-color: #FF0000;
    color: yellow;
  }